In [245]:
import pandas as pd

In [246]:
df_poi_per_district = pd.read_pickle("savedDF/savedDF_POI_per_district.pickle")
df_poi_per_district.head()

,NAME,TYPE,geometry,restaurant,Bicycle_park,Bus,Railway_station_entrance_exit,Convenience Store,Scenic_spot,Sport
0,??,2,"POLYGON Z ((121.42168 30.68471 0.00000, 121.42...",0,0,0,0,0,0,0
1,???,2,"POLYGON Z ((121.41199 30.69374 0.00000, 121.41...",0,0,0,0,0,0,0
2,???,2,"POLYGON Z ((121.40163 30.70717 0.00000, 121.40...",0,0,0,0,0,0,0
3,????,2,"POLYGON Z ((121.33687 30.73806 0.00000, 121.33...",748,197,0,0,134,28,229
4,????,2,"POLYGON Z ((121.25143 30.79177 0.00000, 121.25...",616,335,0,3,163,9,111

In [247]:
df_taxii_per_district = pd.read_pickle('result_taxi.pkl')
df_taxii_per_district.head()

   NAME  TYPE                                           geometry  nb_taxi
0    ??     2  POLYGON Z ((121.42168 30.68471 0.00000, 121.42...        0
1   ???     2  POLYGON Z ((121.41199 30.69374 0.00000, 121.41...        0
2   ???     2  POLYGON Z ((121.40163 30.70717 0.00000, 121.40...        0
3  ????     2  POLYGON Z ((121.33687 30.73806 0.00000, 121.33...        0
4  ????     2  POLYGON Z ((121.25143 30.79177 0.00000, 121.25...        0

In [248]:
df_greenspace_per_district=pd.read_pickle('pickles/savedDF_greenspace_per_district.pkl')
df_greenspace_per_district

,new_geometry,green_area,green_area_proportion
0,"POLYGON ((121.42168 30.68471, 121.42267 30.684...",0.0,0.0
1,"POLYGON ((121.41199 30.69374, 121.41270 30.693...",0.0,0.0
2,"POLYGON ((121.40163 30.70717, 121.40181 30.707...",0.0,0.0
3,"POLYGON ((121.33687 30.73806, 121.33788 30.734...",0.0,0.0
4,"POLYGON ((121.25143 30.79177, 121.25256 30.791...",0.0,0.0
...,...,...,...
261,"POLYGON ((121.18624 31.80997, 121.18611 31.809...",0.0,0.0
262,"POLYGON ((121.40581 31.79716, 121.40513 31.796...",0.0,0.0
263,"POLYGON ((121.24444 31.84448, 121.24443 31.844...",0.0,0.0
264,"POLYGON ((121.26771 31.84871, 121.26743 31.846...",0.0,0.0
265,"POLYGON ((121.39055 31.82290, 121.39069 31.822...",0.0,0.0

In [249]:
df_mobike_per_district = pd.read_pickle('pickles/savedDF_mobike.pkl')
df_mobike_per_district.head()

   NAME  TYPE                                           geometry  nb_mobike
0    ??     2  POLYGON Z ((121.42168 30.68471 0.00000, 121.42...          0
1   ???     2  POLYGON Z ((121.41199 30.69374 0.00000, 121.41...          0
2   ???     2  POLYGON Z ((121.40163 30.70717 0.00000, 121.40...          0
3  ????     2  POLYGON Z ((121.33687 30.73806 0.00000, 121.33...          0
4  ????     2  POLYGON Z ((121.25143 30.79177 0.00000, 121.25...          0

In [250]:
nb_mobike={}
for index, mobike in df_mobike_per_district['nb_mobike'].items():
    nb_mobike[index] = mobike

In [251]:
nb_taxis = {}
for index, taxi in df_taxii_per_district['nb_taxi'].items():
    nb_taxis[index] = taxi

In [252]:
green_space={}
for index, greenspace in df_greenspace_per_district['green_area_proportion'].items():
    green_space[index] = greenspace

In [253]:
df_poi_per_district['Taxi'] = nb_taxis.values()
df_poi_per_district['GreenSpace']=green_space.values()
df_poi_per_district['Mobike']=nb_mobike.values()

In [254]:
df_poi_per_district

,NAME,TYPE,geometry,restaurant,Bicycle_park,Bus,Railway_station_entrance_exit,Convenience Store,Scenic_spot,Sport,Taxi,GreenSpace,Mobike
0,??,2,"POLYGON Z ((121.42168 30.68471 0.00000, 121.42...",0,0,0,0,0,0,0,0,0.0,0
1,???,2,"POLYGON Z ((121.41199 30.69374 0.00000, 121.41...",0,0,0,0,0,0,0,0,0.0,0
2,???,2,"POLYGON Z ((121.40163 30.70717 0.00000, 121.40...",0,0,0,0,0,0,0,0,0.0,0
3,????,2,"POLYGON Z ((121.33687 30.73806 0.00000, 121.33...",748,197,0,0,134,28,229,0,0.0,0
4,????,2,"POLYGON Z ((121.25143 30.79177 0.00000, 121.25...",616,335,0,3,163,9,111,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,???,2,"POLYGON Z ((121.18624 31.80997 0.00000, 121.18...",15,123,0,0,2,4,1,0,0.0,0
262,????,2,"POLYGON Z ((121.40581 31.79716 0.00000, 121.40...",0,1,0,0,0,0,0,0,0.0,0
263,???,2,"POLYGON Z ((121.24444 31.84448 0.00000, 121.24...",17,57,0,0,5,1,5,0,0.0,0
264,????,2,"POLYGON Z ((121.26771 31.84871 0.00000, 121.26...",0,1,0,0,0,0,0,0,0.0,0
265,???,2,"POLYGON Z ((121.39055 31.82290 0.00000, 121.39...",0,21,0,0,3,0,2,0,0.0,0

In [255]:
target = pd.read_pickle("TARGET-communities-extract-wellbeing.pkl")
header = target[0]
df_target = pd.DataFrame(data=target, columns=header)

In [256]:
df_target.head()

,,clean,smell,noise,town,district,longitude,latitude
0,,clean,smell,noise,town,district,longitude,latitude
1,万寿社区居委会,3,0.0,0.0,盈浦街道,青浦区,121.104287016932,31.1558823799679
2,万泰花园第一居委会,3,1.0,0.0,七宝镇,闵行区,121.351529089795,31.144326843509
3,万科阳光苑居委会,2,0.0,0.0,吴泾镇,闵行区,121.468520387505,31.0422853979528
4,万豪居委会,3,0.0,0.0,长征镇,普陀区,121.367237458941,31.2407251034807

On va utiliser ce tableau pour déterminer notre output Y: Wellbeing of shanghainese communities
Pour avoir cet output on fait une moyenne de clean, smell et noise avec des coefficients pour chacun

In [257]:
df_target = df_target.drop(df_target.index[0])

In [258]:
df_target

,,clean,smell,noise,town,district,longitude,latitude
1,万寿社区居委会,3,0.0,0.0,盈浦街道,青浦区,121.104287016932,31.1558823799679
2,万泰花园第一居委会,3,1.0,0.0,七宝镇,闵行区,121.351529089795,31.144326843509
3,万科阳光苑居委会,2,0.0,0.0,吴泾镇,闵行区,121.468520387505,31.0422853979528
4,万豪居委会,3,0.0,0.0,长征镇,普陀区,121.367237458941,31.2407251034807
5,万里名轩社区居委会,2,,0.0,万里街道,普陀区,121.403601417271,31.269155049366
...,...,...,...,...,...,...,...,...
463,鼎信居委会,4,0.0,1.0,方松街道,松江区,121.228428778365,31.0328140016649
464,齐河第四居委会,2,0.0,1.0,周家渡街道,浦东新区,121.511665166614,31.1836392948176
465,龙柏三村居委会,3,,1.0,虹桥镇,闵行区,121.362468042066,31.1805052402247
466,龙阳居委会,3,0.0,1.0,徐泾镇,青浦区,121.272024461359,31.1710851691452
467,龙阳路居委会,3,0.0,1.0,塘桥街道,浦东新区,121.524910617331,31.2071493942291

# Conversion

In [259]:
df_target = df_target[df_target['clean']!= '']
df_target = df_target[df_target['smell']!= '']
df_target = df_target[df_target['noise']!= '']
df_target = df_target[df_target['longitude']!= '']
df_target = df_target[df_target['latitude']!= '']


df_target['clean'] = df_target['clean'].apply(lambda x: float(x))
df_target['smell'] = df_target['smell'].apply(lambda x: float(x))
df_target['noise'] = df_target['noise'].apply(lambda x: float(x))
df_target['longitude'] = df_target['longitude'].apply(lambda x: float(x))
df_target['latitude'] = df_target['latitude'].apply(lambda x: float(x))

In [260]:
df_target['smell'] = df_target['smell'].apply(lambda x: 1 if x==0  else 0)
df_target['noise'] = df_target['noise'].apply(lambda x: 1 if x==0  else 0)
df_target.head()

              clean  smell  noise  town district   longitude   latitude
1    万寿社区居委会    3.0      1      1  盈浦街道      青浦区  121.104287  31.155882
2  万泰花园第一居委会    3.0      0      1   七宝镇      闵行区  121.351529  31.144327
3   万科阳光苑居委会    2.0      1      1   吴泾镇      闵行区  121.468520  31.042285
4      万豪居委会    3.0      1      1   长征镇      普陀区  121.367237  31.240725
6      万馨居委会    3.0      1      1  川沙新镇     浦东新区  121.668506  31.195306

In [494]:
df_target['mean'] = (df_target['clean']*10 + df_target['noise']*20 + df_target['smell']*50)/80
#df_target['mean']=df_target['clean']
df_target.head()

              clean  smell  noise  town district   longitude   latitude   mean
1    万寿社区居委会    3.0      1      1  盈浦街道      青浦区  121.104287  31.155882  1.250
2  万泰花园第一居委会    3.0      0      1   七宝镇      闵行区  121.351529  31.144327  0.625
3   万科阳光苑居委会    2.0      1      1   吴泾镇      闵行区  121.468520  31.042285  1.125
4      万豪居委会    3.0      1      1   长征镇      普陀区  121.367237  31.240725  1.250
6      万馨居委会    3.0      1      1  川沙新镇     浦东新区  121.668506  31.195306  1.250

# Point geo pour chaque lieux

In [495]:
from shapely.geometry import Point # Shapely for converting latitude/longtitude to geometry
import geopandas as gpd

In [496]:
df_ML = df_target[['mean','longitude','latitude']]

In [497]:
geometry = [Point(xy) for xy in zip(df_ML['longitude'], df_ML['latitude'])]

In [498]:
df_ML['geometry'] = geometry

/Users/belkhir/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [499]:
df_ML.head()

    mean   longitude   latitude                                   geometry
1  1.250  121.104287  31.155882  POINT (121.104287016932 31.1558823799679)
2  0.625  121.351529  31.144327   POINT (121.351529089795 31.144326843509)
3  1.125  121.468520  31.042285  POINT (121.468520387505 31.0422853979528)
4  1.250  121.367237  31.240725  POINT (121.367237458941 31.2407251034807)
6  1.250  121.668506  31.195306  POINT (121.668505522212 31.1953057158861)

## Check if the point is included in polygon

In [500]:
happiness = {}
total = 0
sum_mean = 0
for index, polygon in df_poi_per_district['geometry'].items():
    for mean, point in zip(df_ML['mean'], df_ML['geometry']):
        if point.within(polygon) == True:
            sum_mean += mean
            total += 1
    if total != 0 : 
        happiness[index] = sum_mean/total
    else:
        happiness[index] = 0
    sum_mean = 0
    total = 0

In [501]:
df_poi_per_district['happiness'] = happiness.values()

In [502]:
df_poi_per_district

,NAME,TYPE,geometry,restaurant,Bicycle_park,Bus,Railway_station_entrance_exit,Convenience Store,Scenic_spot,Sport,Taxi,GreenSpace,Mobike,happiness
0,??,2,"POLYGON Z ((121.42168 30.68471 0.00000, 121.42...",0,0,0,0,0,0,0,0,0.0,0,0.0
1,???,2,"POLYGON Z ((121.41199 30.69374 0.00000, 121.41...",0,0,0,0,0,0,0,0,0.0,0,0.0
2,???,2,"POLYGON Z ((121.40163 30.70717 0.00000, 121.40...",0,0,0,0,0,0,0,0,0.0,0,0.0
3,????,2,"POLYGON Z ((121.33687 30.73806 0.00000, 121.33...",748,197,0,0,134,28,229,0,0.0,0,0.0
4,????,2,"POLYGON Z ((121.25143 30.79177 0.00000, 121.25...",616,335,0,3,163,9,111,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,???,2,"POLYGON Z ((121.18624 31.80997 0.00000, 121.18...",15,123,0,0,2,4,1,0,0.0,0,0.0
262,????,2,"POLYGON Z ((121.40581 31.79716 0.00000, 121.40...",0,1,0,0,0,0,0,0,0.0,0,0.0
263,???,2,"POLYGON Z ((121.24444 31.84448 0.00000, 121.24...",17,57,0,0,5,1,5,0,0.0,0,0.0
264,????,2,"POLYGON Z ((121.26771 31.84871 0.00000, 121.26...",0,1,0,0,0,0,0,0,0.0,0,0.0
265,???,2,"POLYGON Z ((121.39055 31.82290 0.00000, 121.39...",0,21,0,0,3,0,2,0,0.0,0,0.0

In [503]:
df_poi_per_district.columns

Index(['NAME', 'TYPE', 'geometry', 'restaurant', 'Bicycle_park', 'Bus',
       'Railway_station_entrance_exit', 'Convenience Store', 'Scenic_spot',
       'Sport', 'Taxi', 'GreenSpace', 'Mobike', 'happiness'],
      dtype='object')

## Classification

In [504]:
X = df_poi_per_district[['restaurant','Bicycle_park','Bus','Railway_station_entrance_exit','Convenience Store','Scenic_spot', 'Sport','Taxi','GreenSpace','Mobike']]
#X=df_poi_per_district[['restaurant','Bus','Taxi']]
Y = df_poi_per_district['happiness']

In [505]:
import numpy as np

In [506]:
Z = pd.DataFrame.copy(Y)
Z[Y <= np.median(Y)] = "Unhappy"
Z[Y > np.median(Y)] = "Happy"

##Z[(Y > np.quantile(Y, 0.25)) & (Y <= np.quantile(Y, 0.5))] = "Unhappy"
##Z[(Y > np.quantile(Y, 0.5)) & (Y <= np.quantile(Y, 0.75))] = "Happy"
##Z[Y > np.quantile(Y,0.75)] = "Very Happy"

## Training and Testing

In [507]:
from sklearn.model_selection import train_test_split
X_train, X_test, Z_train, Z_test = train_test_split(X, Z, test_size=0.25, shuffle=True)

## Decision Tree

In [546]:
# We want to determine the best CV
from sklearn import tree
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit
param_grid = {'max_depth': [1,5,10,15,20,30,35,45,60]}
search = GridSearchCV(tree.DecisionTreeClassifier(), param_grid, cv= ShuffleSplit(n_splits=5))
search.fit(X,Z)
#[1,2,4,6,8,10,20,40,100]

GridSearchCV(cv=ShuffleSplit(n_splits=5, random_state=None, test_size=None, train_size=None),
             error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [1, 5, 10, 15, 20, 30, 35, 45, 60]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [547]:
search.best_params_

{'max_depth': 1}

##### search.best_params_

In [548]:
from sklearn.model_selection import cross_val_score
clf = tree.DecisionTreeClassifier(max_depth=search.best_params_['max_depth'])

In [549]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=search.best_params_['max_depth'])
clf = clf.fit(X_train, Z_train)
prediction = clf.predict(X_test)
np.mean(prediction == Z_test)

0.8208955223880597

In [541]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
param_grid={'n_estimators':[10,11,12,13]}
clf=RandomForestClassifier()
search=GridSearchCV(clf,param_grid,cv=5)
search.fit(X_train,Z_train)

/Users/belkhir/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'n_estimators': [10, 11, 12, 13]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [542]:
search.best_params_

{'n_estimators': 10}

In [543]:
clf=RandomForestClassifier(n_estimators=13)
clf.fit(X_train,Z_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=13,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [544]:
Z_pred=clf.predict(X_test)

In [545]:
np.mean(Z_pred == Z_test)

0.8656716417910447

## AdaBoost

In [550]:
# We  want to determine the best param
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostClassifier
param_grid = {'n_estimators': [10, 20, 30]}
clf = AdaBoostClassifier()
search = GridSearchCV(clf, param_grid, cv= 5)
search.fit(X_train, Z_train)

/Users/belkhir/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=AdaBoostClassifier(algorithm='SAMME.R',
                                          base_estimator=None,
                                          learning_rate=1.0, n_estimators=50,
                                          random_state=None),
             iid='warn', n_jobs=None, param_grid={'n_estimators': [10, 20, 30]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [551]:
search.best_params_

{'n_estimators': 10}

In [554]:
#best model
clf = AdaBoostClassifier(n_estimators=20)
clf = clf.fit(X_train, Z_train)
prediction = clf.predict(X_test)
np.mean(prediction == Z_test)

0.7611940298507462

In [555]:
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier(n_estimators=10, learning_rate=1.0, max_depth=1, random_state=0).fit(X_train, Z_train)
prediction = clf.predict(X_test)
np.mean(prediction == Z_test)

0.8208955223880597